@font-face {
  font-family: star-jedi;
  src: url("./Starjedi.ttf");
}

@font-face {
  font-family: roboto;
  src: url("./Roboto-Regular.ttf");
}

body {
  font-family: roboto;
  background-color: #252525;
  color: #c0bfbf;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #7d652ab6;
  outline: 1px solid rgb(62, 73, 83);
}

img {
  width: 200px;
  margin-top: 22px;
}

.title-container {
  text-align: center;
  width: 510px;
}

.title-container h1, h3 {
  font-family: star-jedi;
  color: #c79c2e;
}

.letter-yellow {
  color: #c79c2e;
}

.letter-green {
  color: #51b36e;
}
.letter-red {
  color: #943e3c;
}

.app-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tile-row {
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

.tile-column {
  font-family: star-jedi;
  background-color: #f4f3f1;
  color: #252525;
  height: 40px;
  width: 48px;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.typing {
  border: 3px solid #252525;
}

.disabled {
  border: 1px solid #252525;
}

.skipped {
  background-color: #514a4a;
  color: #f4f3f1;
}

.wrong {
  background-color: #943e3c;
  color: #f4f3f1;
}

.displaced {
  background-color: #c79c2e;
  color: #f4f3f1;
}

.right {
  background-color: #51b36e;
  color: #f4f3f1;
}

.keyboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.keyboard-row-container {
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: center;
  display: flex;
}

#tips-list {
  list-style-position: inside;
  text-align: center;
  padding: 0;
}

#tips-list li {
  margin-bottom: 15px;
  font-size: 15px;
 }

 .time-mark {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -20px;
  margin-left: -15px;
  background-color: #252525;
  border: 3px solid #c79c2e;
  text-align: center;
  vertical-align: middle;
  color: #c79c2e;
  width: 45px;
  height: 45px;
  font-size: 25px;
  font-family: star-jedi;
  border-radius: 50%;
}

.question-mark {
  cursor: pointer;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  right: 0;
  top: 0;
  margin-top: -20px;
  margin-right: -15px;
  background-color: #252525;
  border: 3px solid #c79c2e;
  color: #c79c2e;
  width: 45px;
  height: 45px;
  font-size: 30px;
  font-family: star-jedi;
  border-radius: 50%;
}

.tips-container {
  position: relative;
  background-color: #c79c2e;
  color: #252525;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.capitalize-text {
  text-transform: capitalize;
}

.enter-button {
  width: 80px;
  height: 40px;
  margin: 5px;
}
.backspace-button {
  height: 40px;
  width: 80px;
}

.keyboard-row-container:not(.notAlphabetic) button {
  width: 40px;
  height: 40px;
  border-radius: 0.25rem;
  margin-right: 0.25rem;

  font-size: 20px;
  cursor: pointer;
}

button {
  font-family: star-jedi;
  background-color: #413e3e;
  border: 1px solid #252525;
  cursor: pointer;
  color: #c79c2e;
  font-size: 16px;
}
